@font-face {
    font-family: roboto-regular;
    src: url('../fonts/roboto-regular.ttf');
}
@font-face {
    font-family: roboto-black-italic;
    src: url('../fonts/roboto-black-italic.ttf');
}
@font-face {
    font-family: raleway-black-italic;
    src: url('../fonts/raleway-black-italic.ttf');
}
@font-face {
    font-family: Raleway-bold;
    src: url('../fonts/raleway-bold.ttf');
}
body {
    margin: 0;
    background: #f8f8f8;
}
.headerMain {
    width: 100%;
    height: 700px;
    background: #abeafa;
}
.headerCentre {
    width: 1170px;
    height: inherit;
    margin: auto;
}
.logo {
    position: absolute;
    margin-top: 24px;
    margin-left: 69px;
}
.social {
    float: right;
    list-style-type: none;
    margin-top: 50px;
    margin-right: 64px;
}
.social ul li {
    display: inline-block;
    width: 20px;
}
.social ul li a{
    color: white;
}
.welkomeBlock {
    background-color:  #fff51f;
    width: 270px;
    height: 300px;
    float: left;
    margin-top: 336px;
}
.wellcomeBig {
    font-family: Raleway-bold, sans-serif;
    text-transform: uppercase;
    color:  #333333;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin-left: 25px;
    margin-top: 82px;
}
.wellcomText {
    margin-left:22px;
    margin-top: 24px;
    font-family: Raleway-bold, sans-serif;
    color:  #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
}
.rightHeaderText {
    height: 169px;
    width: 313px;
    float: right;
    margin-top: 243px;
}
.rightBigText {
    font-family: Raleway-bold, sans-serif;
    color:  #fff51f;
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    text-transform: uppercase;
}
.rightText {
    font-family: Raleway-bold, sans-serif;
    color: #fff51f;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.buttonBay a {
    margin-top: 62px;
    background-color:  #fff51f;
    width: 124px;
    height: 49px;
    float: left;
    line-height: 49px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Raleway-bold, sans-serif;
    color:  #000000;
    font-size: 14px;
}
.buttonBay a:hover {
    background-color: #000000;
    color: #fff51f;
}
.contentMain {
    margin-top: -20px;
    width: 100%;
}
.contentInside {
    width: 1170px;
    margin: 0 auto;
}
.contentLeft{
    width: 270px;
    float: left;
}
.menu {
    width: 100%;
    background: #26d2fc;
    padding-left: 0;
    margin-top: 0;
}
.menu li:first-child {
    background-color: #333333;
    height: 66px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 66px;
    text-align: left;
    color: white;
    display: block;
}
.menu li:first-child a {
    line-height: 66px;
}
.menu li {
    list-style-type: none;
    width: inherit;
    text-transform: uppercase;
}
.menu li a {
    font-family: Roboto, sans-serif;
    color:  #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    text-decoration: none;
    display: block;
    padding-left: 40px;
}
.menu li a:hover {
    background: #333333;
    width: auto;
    color: white;
}
.nowIsOpen {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
    background: #fff;
}
.nowIsOpen span {
    font-family: raleway-black-italic, sans-serif;
    color:  #333333;
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    text-align: right;
    top: 129px;
    left: 142px;
    position: relative;
}
.nowIsOpenInside {
    width: 100%;
    height: 100%;
    background: #ebddc9;
}
.contentRight {
    width: 870px;
    float: right;
}
.goodsHeader {
    background: #f8f8f8;
    height: 78px;
    line-height: 78px;
    font-family: roboto-regular, sans-serif;
    color:  #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    text-transform: uppercase;
    padding: 0 25px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    float: left;
    }
.goodsBox {
    width: 100%;
    float: left;
}
.goodsWrap {
    width: 270px;
    height: 320px;
    background: #ffffff;
    margin-bottom: 30px;
    float: left;
    margin-right: 30px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}
.goodsWrap:nth-child(3n) {
    margin-right: 0;
}
.goodsWrap img {
    margin-bottom: 19px;
}
.goodsCorner {
    top: 0;
    right: 0;
    position: absolute;
}
.goodsName {
    font-family: roboto-black-italic, sans-serif;
    float: left;
    max-height: 2.4em;
    overflow: hidden;
    color: #333;
    width: 155px;
    font-size: 14px;
}
.goodsPrice {
    font-size: 18px;
    float: left;
    font-family: roboto-black-italic, sans-serif;
}
.brand {
    width: 100%;
    height: 160px;
    display: flex;
    background: #ffffff;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;
}
.instFeedWrap {
    background: #eaeaea;
    height: 350px;
    width: 100%;
}
.instHeader {
    width: 100%;
    text-align: center;
    font-family: Roboto sans-serif;
    color:  #333333;
    font-size: 18px;
    font-style: italic;
    line-height: 67px;
}
.instHeader span {
    font-size: 22px;
    font-weight: 900;
}
.instImgBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.instImgBlock img {
    height: 185px;
    width: 185px;
    padding: 8px;
    box-sizing: border-box;
    background: #ffffff;
}
.socialButtonWrap {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.socialButtonWrap a {
    display: flex;
    text-decoration: none;
    color: white;
    height: 150px;
    width: calc(100%/3);
    align-items: center;
    justify-content: center;
}
.socialButtonWrap a:nth-child(1) {
    background: #3b5997;
}
.socialButtonWrap a:nth-child(2) {
    background: #3fccfd;
}
.socialButtonWrap a:nth-child(3) {
    background: #cb2027;
}
.footer {
    width: 100%;
    background: #373737;
    height: 390px;
}
.footerInside {
    width: 1170px;
    height: 343px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerColumnWrap {
    height: inherit;
    width: 150px;
    margin-top: 75px;
}
.footerColumnWrap:nth-child(4) {
    width: 270px;
}
.footerColumnWrap:nth-child(5) {
    width: 270px;
}
.columnHeader {
    font-family: Raleway-bold sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 28px;
}
.column a {
    display: block;
    text-decoration: none;
    font-family: roboto-regular sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    height: 100%;
}
.column input {
    background-color:  #fff51f;
    width: 180px;
    height: 30px;
    border: none;
    text-transform: uppercase;
    outline: none;
    box-sizing: border-box;
}
button {
    background-color: #000000;
    width: 71px;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    display: inline-block;
    }
button:hover {
    background: #ffffff;
    color: black;
}
.cardWrap {
    display: flex;
    margin-top: 45px;
    flex-direction: row;
    justify-content: space-around;
}
.inputWrap {
    margin-top: 31px;
}
.columnText {
    text-align: justify;
    font-family: roboto-regular sans-serif;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
}
.phone, .email {
    font-family: Roboto sans-serif ;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}
.email span {
    color: #faef03;
}
.footerCopyRight {
    width: 100%;
    background: #333;
    height: 47px;
    line-height: 47px;
}
.CopyRightInside {
    height: inherit;
    width: 1170px;
    margin: 0 auto;
 }
.footerCopy {
    float: left;
}
.footerSocial {
    float: right;
    list-style-type: none;
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 178px;
    justify-content: space-around;
}
.footerSocial ul li {
    display: inline-block;
    width: 20px;
}
.footerSocial ul li a{
    color: white;
}